@model PersonalFinanceApplication.Models.CashflowDto
@{
    ViewBag.Title = "Details";
}

<a href="/Cashflow/List">Go back</a>
<br />
<a href="/Cashflow/Edit/@Model.CashflowId">Update</a>
<br />
<a style="color:#ab2020;" href="/Cashflow/DeleteConfirm/@Model.CashflowId">Delete</a>
<h2>@Model.PeriodYear-@Model.PeriodMonth</h2>
<div>Period ID: @Model.PeriodId</div>
<div>Inflow: $@Model.Inflow</div>
<div>Outflow: $@Model.Outflow</div>
<div>Net: $@(Model.Inflow - Model.Outflow)</div>
