@model PersonalFinanceApplication.Models.CashflowDto
@{
    ViewBag.Title = "Edit";
}

<h2>Update Cashflow</h2>

<form action="/Cashflow/Update/@Model.CashflowId" method="post">
    <div style="display:none">
        @* Pass through cashflow ID *@
        <input type="text" name="CashflowId" value="@Model.CashflowId" />
    </div>

    <div>
        <label>Period ID:</label> <input type="number" name="PeriodId" value="@Model.PeriodId" />
    </div>
    <div>
        <label>Inflow:</label> <input type="number" name="Inflow" value="@Model.Inflow"/>
    </div>
    <div>
        <label>Outflow:</label> <input type="number" name="Outflow" value="@Model.Outflow" />
    </div>
    <div>
        <input type="submit" value="Update Cashflow" />
    </div>
</form>