@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Personal Finance Tracker App</h1>
        <p class="lead">In 3 simple steps, get all your personal finances in order!</p>
        <!--<p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>-->
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Step 1</h2>
            <p>
                Set the period: Enter the "year" and "month" for the period you are entering statement balances for. If it's already in the database, go to step 2!
            </p>
            <p><a class="btn btn-outline-dark" href="/Period/List">Get started &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Step 2</h2>
            <p>Once you've selected your period, enter the balances on your statements for assets (what you own) and liabilities (what you owe).</p>
            <p><a class="btn btn-outline-dark" href="/Balance/List">Balance sheet &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Step 3</h2>
            <p>Finally, figure out your cashflow: Enter the amount for your inflow (what you've earned) and outflow (what you've spent).</p>
            <p><a class="btn btn-outline-dark" href="/Cashflow/List">Cashflow statement &raquo;</a></p>
        </section>
    </div>
</main>