@model PersonalFinanceApplication.Models.BalanceDto
@{
    ViewBag.Title = "Details";
}

<a href="/Balance/List">Go back</a>
<br />
<a href="/Balance/Edit/@Model.BalanceId">Update</a>
<br />
<a style="color:#ab2020;" href="/Balance/DeleteConfirm/@Model.BalanceId">Delete</a>
<h2>@Model.PeriodYear-@Model.PeriodMonth</h2>
<h3>Assets</h3>
<div>Chequing Account Balance: $@Model.ChequingAcct</div>
<div>Savings Account Balance: $@Model.SavingsAcct</div>
<div><strong>Total: $@(Model.ChequingAcct + Model.SavingsAcct)</strong></div>
<br />
<h3>Liabilities</h3>
<div>Revolving Credit Balance: $@Model.RevolvingCrdt</div>
<div>Instalment Credit Balance: $@Model.InstalmentCrdt</div>
<div><strong>Total: $@(Model.RevolvingCrdt + Model.InstalmentCrdt)</strong></div>
<br />
<h3>Net Worth</h3>
<div><strong>Assets less Liabilities: $@(Model.ChequingAcct + Model.SavingsAcct - (Model.RevolvingCrdt + Model.InstalmentCrdt))</strong></div>
