@model PersonalFinanceApplication.Models.BalanceDto
@{
    ViewBag.Title = "Details";
}

<a href="/Balance/List">Go back</a>
<br />
<a href="/Balance/Edit/@Model.BalanceId">Update</a>
<br />
<a style="color:#ab2020;" href="/Balance/DeleteConfirm/@Model.BalanceId">Delete</a>
<h2>@Model.PeriodYear-@Model.PeriodMonth</h2>
<div>Period ID: @Model.PeriodId</div>
<div>Asset: $@(Model.ChequingAcct + Model.SavingsAcct)</div>
<div>Liability: $@(Model.RevolvingCrdt + Model.InstalmentCrdt)</div>
<div>Net: $@(Model.ChequingAcct + Model.SavingsAcct - (Model.RevolvingCrdt + Model.InstalmentCrdt))</div>
