@model IEnumerable<PersonalFinanceApplication.Models.BalanceDto>
@{
    ViewBag.Title = "List";
}

<h2>Balances</h2>
<a href="/Balance/New">Add new balance</a>
@foreach(var balance in Model)
{
    <hr />
    <h3><a href="/Balance/Details/@balance.BalanceId">@balance.PeriodYear-@balance.PeriodMonth</a></h3>
    <div>Asset: $@(balance.ChequingAcct + balance.SavingsAcct)</div>
    <div>Liability: $@(balance.RevolvingCrdt + balance.InstalmentCrdt)</div>
}
